[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pylint-django = "*"
django-tastypie = "*"
gunicorn = "*"
whitenoise = "*"
django-filter = "*"
pillow = "*"
django-templated-mail = "*"
redis = "*"
celery = "*"
django-silk = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"

[requires]
python_version = "3.13.0"
