{% extends 'base.html' %} {% block content %}
<h1>Books</h1>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Title</th>
			<th scope="col">Genre</th>
			<th scope="col">Stock</th>
			<th scope="col">Daily Rate</th>
		</tr>
	</thead>
	<tbody>
		{% for book in books %}
		<tr>
			<td>{{ book.id}}</td>
			<td>{{ book.title}}</td>
			<td>{{ book.genre}}</td>
			<td>{{ book.number_in_stock}}</td>
			<td>{{ book.daily_rate}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
